<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Combat</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="battle-container">
        <!-- Enemy Pokemon Card -->
        <div class="enemy-pokemon">
            <h2><%= enemyPokemon.name %></h2>
            <div class="hp-bar">
                <div id="enemy-hp-fill" class="hp-fill"></div>
            </div>
            <p>PV: <%= enemyPokemon.currentHP %> / <%= enemyPokemon.totalHP %></p>
        </div>
    
        <!-- Player Pokemon Card -->
        <div class="player-pokemon">
            <h2><%= playerPokemon.name %></h2>
            <div class="hp-bar">
                <div id="player-hp-fill" class="hp-fill"></div>
            </div>
            <p>PV: <%= playerPokemon.currentHP %> / <%= playerPokemon.totalHP %></p>
        </div>
    </div>

    <!-- Interaction Menu -->
    <div class="interaction-menu">
        <div class="action-message">
            <p>Que doit faire <%= playerPokemon.name %> ?</p>
        </div>
        <div class="action-buttons">
            <% if (playerPokemon.competences && playerPokemon.competences.length > 0) { %>
                <button id="attack1"><%= playerPokemon.competences[0].Name %></button>
            <% } else { %>
                <button id="attack1" disabled>Aucune compétence</button>
            <% } %>

            <% if (playerPokemon.competences && playerPokemon.competences.length > 1) { %>
                <button id="attack2"><%= playerPokemon.competences[1].Name %></button>
            <% } else { %>
                <button id="attack2" disabled>Aucune compétence</button>
            <% } %>

            <button id="changePokemon">Pokemon</button>
            <button id="runAway">Fuite</button>
        </div>

              
        
    </div>

    <!-- Inclusion de game.js -->
    <script src="/js/game.js"></script>
    <script>
        console.log('Équipe actuelle:', team); // Afficher l'équipe dans la console du navigateur
    </script>

</body>
</html>
