<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créer ton équipe</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script defer src="/js/create_team.js"></script>
</head>
<body>
    <header>
        <button class="return-btn" onclick="window.location.href='/';">Accueil</button>
        <h1>Créer ton équipe</h1>
    </header>
    <div class="container">
        <!-- Section des Pokémon -->
        <div class="pokemon-section">
            <div id="pokemon-container" class="pokemon-list">
                <% pokemons.forEach(pokemon => { %>
                    <div class="pokemon-card">
                        <h2><%= pokemon.Name %></h2>
                        <p><strong>Type:</strong> <%= pokemon.Type %></p>
                        <div class="stats-row">
                            <p><strong>HP:</strong> <%= pokemon.HP %></p>
                            <p><strong>Vitesse:</strong> <%= pokemon.Vitesse %></p>
                        </div>
                        <div class="stats-row">
                            <p><strong>ATK:</strong> <%= pokemon.ATK %></p>
                            <p><strong>ATK Spé:</strong> <%= pokemon.ATK_spe %></p>
                        </div>
                        <div class="stats-row">
                            <p><strong>Defense:</strong> <%= pokemon.Defense %></p>
                            <p><strong>Defense Spé:</strong> <%= pokemon.Defense_spe %></p>
                        </div>

                        <div class="button-container">
                            <button class="add-to-team-btn" onclick="addToTeam('<%= pokemon.Name %>', '<%= pokemon.Type %>', '<%= pokemon.HP %>', '<%= pokemon.ATK %>', '<%= pokemon.Defense %>', '<%= pokemon.ATK_spe %>', '<%= pokemon.Defense_spe %>', '<%= pokemon.Vitesse %>')">Ajouter à l'équipe</button>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
        
        <!-- Section Résumé de l'équipe -->
        <div class="team-summary">
            <h2>Résumé de l'équipe</h2>
            <ul class="team-list" id="team-list">
                <!-- Les Pokémon ajoutés à l'équipe apparaîtront ici -->
            </ul>
            <button onclick="showPopup()" class="validate-btn">Valider l'équipe</button>
        </div>
    </div>

    <!-- Popup pour valider l'équipe -->
    <div id="popup" class="popup" style="display: none;">
        <div class="popup-content">
            <h3>Résumé de votre équipe</h3>
            <ul id="team-summary-list">
                <!-- Les Pokémon de l'équipe seront affichés ici -->
            </ul>
            <div class="popup-buttons">
                <button id="combatBtn" class="button">Lancer le combat</button>
                <button id="continueBtn" class="secondary-btn">Retour</button>
            </div>
        </div>
    </div>
</body>
</html>
